<div class="landing__container">
  <!-- header -->
  <!--The content below is only a placeholder and can be replaced.-->
  <mat-toolbar color="primary">
    <mat-toolbar-row class="header">
      <!--  <span>HOME</span> -->
      <div class="logo">
        <img src="assets/img/logo.png" alt="logo image" class="logo__image" />
        <p class="logo__text">Sistem Distribusi Pupuk Kecamatan Matakali</p>
      </div>
      <span class="spacer"></span>
      <a mat-button routerLink="/register" (click)="openDialogSignUp()">
        <mat-icon aria-hidden="false" aria-label="Mat Icon"
          >person_add</mat-icon
        >

        Register</a
      >
      <a mat-button routerLink="/login" (click)="openDialogSignIn()">
        <mat-icon aria-hidden="false" aria-label="Mat Icon">people</mat-icon>
        Login</a
      >
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- main content -->
  <div class="card__container">
    <mat-card class="card">
      <img mat-card-image src="assets/img/card1.svg" alt="card image" />
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Toko Pupuk</mat-card-title>
        <mat-card-subtitle>Kecamatan Matakali</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Menandai anggota kelompok tani yang sudah mengambil pupuk dari toko
          persediaan pupuk.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <img mat-card-image src="assets/img/card2.svg" alt="card image" />
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Kelompok Tani</mat-card-title>
        <mat-card-subtitle>Ketua Kelompok</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Mengupdate / mengentri data anggota kelompok tani kedalam sistem.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <img mat-card-image src="assets/img/card3.svg" alt="card image" />
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dinas Pertanian</mat-card-title>
        <mat-card-subtitle>Kab. Polewali Mandar</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Dinas pertanian bisa memantau data yang semua kelompok tani di
          Kecamatan Matakali, serta bisa melakukan pemantauan seputar distribusi
          pupuk pada Toko yang telah ditunjuk.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- footer -->
  <footer>
    <p class="text">Copyright &copy; 2021 ua4ever, Inc</p>
  </footer>
</div>
