table {
  width: 100% !important;
}

.table-container {
  overflow-x: auto;
  margin-top: 2rem;
}

.row {
  margin-top: 3.5rem;
}

p.title {
  font-weight: 700;
  font-size: 1rem;
  color: rgb(92, 92, 92);
}

.mat-paginator-outer-container {
  width: 100% !important;
}
