<form
  [formGroup]="form"
  (ngSubmit)="submitForm()"
  autocapitalize="off"
  autocomplete="off"
>
  <h2 mat-dialog-title>Form Login</h2>
  <mat-dialog-content
    class="mat-typography"
    fxLayout="column"
    fxLayoutAlign="space-between"
  >
    <p>Silahkan masukkan ID anda dengan benar !</p>

    <mat-form-field>
      <mat-label>Email / Username</mat-label>
      <input matInput type="text" formControlName="email" />
      <mat-error *ngIf="email.hasError('required')">Wajib diisi</mat-error>
      <mat-error *ngIf="email.hasError('email') || email.hasError('minlength')"
        >Email tidak valid</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="text" formControlName="password" />
      <mat-error *ngIf="password.hasError('required')">Wajib diisi</mat-error>
      <mat-error *ngIf="password.hasError('minlength')"
        >Panjang password minimal 8 karakter</mat-error
      >
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>login</mat-icon>
      Login
    </button>
    <button mat-raised-button mat-dialog-close color="accent">
      <mat-icon>close</mat-icon>
      Batal
    </button>
  </mat-dialog-actions>
</form>
