<form
  [formGroup]="form"
  (ngSubmit)="submitForm()"
  autocapitalize="off"
  autocomplete="off"
>
  <h2 mat-dialog-title>Form Anggota Kelompok Tani</h2>
  <mat-dialog-content
    class="mat-typography"
    fxLayout="column"
    fxLayoutAlign="space-between"
  >
    <p>Silahkan masukkan data anggota kelompok tani anda</p>

    <mat-form-field>
      <mat-label>Nama</mat-label>
      <input matInput type="text" formControlName="nama" />
      <mat-error *ngIf="nama.hasError('required')">Wajib diisi</mat-error>
      <mat-error *ngIf="nama.hasError('minlength')">Nama tidak valid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Alamat</mat-label>
      <textarea matInput type="text" formControlName="alamat"></textarea>
      <mat-error *ngIf="alamat.hasError('required')">Wajib diisi</mat-error>
      <mat-error *ngIf="alamat.hasError('minlength')"
        >Alamat tidak valid</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>NIK / No. KTP</mat-label>
      <input matInput type="text" formControlName="nik" />
      <mat-error *ngIf="nik.hasError('required')">Wajib diisi</mat-error>
      <mat-error *ngIf="nik.hasError('minlength') || nik.hasError('maxlength')"
        >Panjang NIK harus 16 digit.</mat-error
      >
      <mat-error *ngIf="nik.hasError('pattern')">NIK harus angka</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Luas Lahan dalam M<sup>2</sup></mat-label>
      <input matInput type="text" formControlName="luas_lahan" />
      <mat-error *ngIf="luas_lahan.hasError('required')">Wajib diisi</mat-error>
      <mat-error
        *ngIf="
          luas_lahan.hasError('minlength') || luas_lahan.hasError('pattern')
        "
        >Luas lahan tidak valid.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status Anggota Dalam Kelompok</mat-label>
      <mat-select formControlName="role">
        <mat-option
          *ngFor="let role of listAnggotaRole; let i = index"
          [value]="i + 1"
        >
          {{ role }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="role.hasError('required')">Wajib dipilih</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status Kartu</mat-label>
      <mat-select formControlName="status_kartu">
        <mat-option
          *ngFor="
            let status_kartu of ['BELUM ADA', 'SEDANG DIPROSES', 'SUDAH ADA'];
            let i = index
          "
          [value]="i + 1"
        >
          {{ status_kartu }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="status_kartu.hasError('required')"
        >Wajib dipilih</mat-error
      >
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>save</mat-icon>
      Submit Data
    </button>
    <button mat-raised-button mat-dialog-close color="accent">
      <mat-icon>close</mat-icon>
      Batal
    </button>
  </mat-dialog-actions>
</form>
