/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.fullscreen {
  .mat-dialog-container {
    width: 100vw;
    height: 100vh;
    max-width: none;
  }
}

.button-default.xlsx {
  position: absolute;
  top: 6rem;
  right: 3rem;
  color: #fff;
  background-color: teal;
  border-radius: 10px;
  padding: 1rem 1.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
