
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sistem-pupuk-primary: mat-palette($mat-indigo);
$sistem-pupuk-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sistem-pupuk-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sistem-pupuk-theme: mat-light-theme((
  color: (
    primary: $sistem-pupuk-primary,
    accent: $sistem-pupuk-accent,
    warn: $sistem-pupuk-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sistem-pupuk-theme);

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.fullscreen {
  .mat-dialog-container {
    width: 100vw;
    height: 100vh;
    max-width: none;
  }
}

.button-default.xlsx, .button-default.csv {
  position: absolute;
  top: 6rem;
  right: 3rem;
  color: #fff;
  background-color: teal;
  border-radius: 10px;
  padding: 1rem 1.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
